.body {
  margin-top: 5vh;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#updateBtn {
  margin: auto;
  width: 100px;
  text-align: center;
  display: block;
}
.btn {
  height: 30px;
}
.photo img {
  width: 180px;
  height: 170px;
  border-radius: 50%;
}

.userinfo {
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.userinfo li {
  margin-bottom: 10px;
}

.delete {
  color: white;
  margin: auto;
  display: block;
  background-color: #f03e3e;
}
